<div id="home-wrapper" class="d-flex flex-column gap-2">
  <form [formGroup]="urlForm" (ngSubmit)="generateUrl()" class="d-flex gap-1 ">
    <input type="text" class="form-control " formControlName="longUrl">
    <button type="submit" class="btn btn-primary">shortme!</button>
  </form>
    <!-- <div *ngIf="urlForm.get('longUrl')?.invalid && (urlForm.get('longUrl')?.dirty || urlForm.get('longUrl')?.touched)">
  <div *ngIf="urlForm.controls['longUrl'].errors?.['pattern']">Entered url is not valid</div>
  <div *ngIf="urlForm.controls['longUrl'].errors?.['required']">The field is empty<div> 
     </div> -->
  <div *ngIf="generatedUrl">Generated Url: {{ generatedUrl }}</div>
</div>